/* Container principal */
.form-section-mobile {
  width: 100vw;
  min-height: 100vh;
  background: #ffffff;
  padding: 2rem 1rem;
}

/* Título */
.form-title-mobile h1 {
  font-size: 2.1rem;
  line-height: 1;
  color: #0573FF;
  font-family: "Grift-Black";
}

.form-title-mobile span {
  color: #06243c;
  font-family: "Grift-Black";
}

.form-title-mobile p {
  font-size: .95rem;
}

/* Botão superior */
.btn-agende-mobile {
  width: auto;
  background: linear-gradient(45deg, #06243c 0%, #352c61 50%, #06243c 100%);
  color: #fff;
  border: none;
  font-size: 0.8rem;
  transform: translateY(100%);
  transition: .3s;
}

.btn-agende-mobile:hover {
  opacity: .9;
}

/* Container do formulário */
.form-container-mobile {
  width: 100%;
  border: 1.5px solid #000;
  border-radius: 2rem;
}

/* Wrapper */
.form-wrapper-mobile {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Campos */
.form-field-mobile {
  display: flex;
  align-items: center;
  border-bottom: 1.5px solid #ccc;
}

.form-field-mobile input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 0.75rem;
}

.icon-mobile {
  color: #0573ff;
  font-size: 1rem;
  padding: 7px;
}

/* Botão inferior */
.btn-agende2-mobile {
  width: 95%;
  background: linear-gradient(90deg, #0573FF 0%, #4881cc 50%, #0573FF 100%);
  color: #fff;
  border: none;
  font-size: 1rem;
  transition: .3s;
  transform: translateY(-100%);
}
